body {
    font-family: Arial;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

input {
    width: 400px;
    padding: 8px;
}

button {
    padding: 10px 20px;
    background: green;
    color: white;
    border: none;
}

img {
    margin-top: 20px;
}